@page "/detectionMethodFormDetail"
@page "/detectionMethodFormDetail/{DetectionId}"
@inherits DetectionMethodFormDetailBase

<h3>DetectionMethodFormDetail</h3>
<hr />

<EditForm Model="@DetectionMethodFormDO" OnValidSubmit="@HandleValidSubmit">

    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group row">
        <label for="lastName" class="col-sm-3">Product Class: </label>
        <InputText id="lastName" @bind-Value="@DetectionMethodFormDO.Product_Class" class="form-control col-sm-8" placeholder="Enter Product Class"></InputText>
        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => DetectionMethodFormDO.Product_Class)" />
    </div>

    <div class="form-group row">
        <label for="firstName" class="col-sm-3">Site: </label>
        <InputText id="firstName" class="form-control col-sm-8" @bind-Value="@DetectionMethodFormDO.Site" placeholder="Enter Site"></InputText>
        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => DetectionMethodFormDO.Site)" />
    </div>


    <div class="form-group row">
        <label for="birthdate" class="col-sm-3">Product Char Description: </label>
        <InputDate id="birthdate" class="form-control col-sm-8" @bind-Value="@DetectionMethodFormDO.PD_Characteristics_Desc" placeholder="Enter Escape ID"></InputDate>

    </div>
    <div class="form-group row">
        <label for="email" class="col-sm-3">Detection Method: </label>
        <InputText id="email" class="form-control col-sm-8" @bind-Value="@DetectionMethodFormDO.Detection_Method" placeholder="Enter email"></InputText>
        <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => DetectionMethodFormDO.Detection_Method)" />
    </div>

    <div class="form-group row">
        <label for="street" class="col-sm-3">Escape Impact: </label>
        <InputText id="street" class="form-control col-sm-8" @bind-Value="@DetectionMethodFormDO.Escape_Description" placeholder="Enter street"></InputText>

    </div>

    <button type="submit" class="btn btn-primary edit-btn">Save</button>
    <button class="btn btn-secondary" @onclick="HandleNavigateToListPage">Back</button>
</EditForm>